/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

app/actividad_aya\.php

\.idea/dataSources/94c4dfe5-d40b-4bb4-9b5f-3ff076a92425\.xml

\.idea/dataSources/570a7280-9509-4cea-abaa-c9c68c282e0d\.xml
